body{
  margin:0;
  padding:0;
}

.header{
display:inline-flex;
font-family: Verdana;
font-size: 14px;
font-weight: bold;
position: fixed;
z-index: 1;
background-color: White;

}

nav{
  display:inline-block;
  padding-left: 150px;
  padding-top: 50px;



}
h4{
  color:mediumaquamarine;
  display: inline;
  padding-left: 10px;
  padding-top: 30px;
  margin-right: 800px;

}
a{
  color: black;
  display: inline-block;


}
.container{
  display: inline-flex;
  width: 100%;
  height:1000px;
  justify-content: space-around;
  padding-top: 120px;
}
div{
  /* border: 2px solid black; */
}
.column1{
  width:630px;
  display:inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.column2{
  width: 300px;
  display: flex;
  flex-direction: column;
}
.column3{
  width: 240px;
  display: flex;
  flex-direction: column;
}
.column1 .section1{
  height: 300px;
  background-image: url("../images/img-story-main.png");
  display: flex;
}
.column1 .section2{
  height: 250px
}
.column1 .section3{
  height: 190px;
  width: 300px;
}
.column1 .section4{
  height: 300px;
  background-image: url("../images/img-story-2.png");
  display: flex;
  width:300px
}
.column1 .section5{
  height: 190px;
  width: 300px;
}
.column1 .section6{
  height: 300px;
  display: flex;
  background-image: url("../images/img-story-3.png");
  width: 300px;
}
.column2 .section1{
  height: 380px;
}
.column2 .section2{
  height: 300px;
  display: flex;
  background-image: url("../images/img-story-1.png");
}
.column2 .section3{
  height: 280px;
}
.column3 .section1{
  height: 240px;
}
.column3 .section2{
  height: 240px;
}
.column3 .section3{
  height: 300px;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
h3{
  font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
}
.imagetext{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
#bites{
  font-size: 16px;
  font-weight: bold;
}
 span{
display: block;
  background-color: WhiteSmoke;
 font-family: Verdana;
 font-size: 12px;
 color: DimGray;
 margin: 0;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 padding: 11px 20px;
}

.footer{
  display:inline-flex;

  flex-flow: row;
  justify-content: center;
  align-content: center;
  background-color: MediumAquamarine;
  margin:auto;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
  height:200px;
  padding-top: 100px;



}
h6{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display:inline;
}
 .footer nav{
  display: inline-block;
}
